<h1>Welcome to my first Angular app!</h1>

<p>This is the home page of the app. Here I will put an overview of what you can find in here.</p>
<p>I will be showing you some of the basic Angular elements:</p>

<div class="col-6">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"></li>
        <li class="list-group-item">Modules</li>
        <li class="list-group-item">Components</li>
        <li class="list-group-item">Models</li>
        <li class="list-group-item">Forms</li>
        <li class="list-group-item">Routing</li>
        <li class="list-group-item">Routing</li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item">Modules</li>
        <li class="list-group-item">Components</li>
        <li class="list-group-item">Models</li>
        <li class="list-group-item">Forms</li>
        <li class="list-group-item">Routing</li>
      </ul>
</div>

